* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #201e1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.primarybg {
  background-color: #201e1e;
}

@font-face {
  font-family: "Barrio";
  src: url("/Barrio-Regular.ttf");
}

@font-face {
  font-family: "Dosis";
  src: url("/Dosis-VariableFont_wght.ttf");
}

input,
textarea {
  outline: none;
}
