---
const { text, type, href } = Astro.props;
---

<a class={type} href={href}>{text}</a>

<style>
  .buttonblack {
    margin: auto;
    width: fit-content;
    background: transparent;
    border: 3px solid #d1b192;
    color: #d1b192;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    font-family: Barrio, sans-serif;
    text-decoration: none;
    display: block;
    font-size: 36px;
  }

  .buttonblack:hover {
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
    background-color: #d1b192;
    color: #201e1e;
  }

  .buttonred {
    background: transparent;
    border: 3px solid #d1b192;
    color: #d1b192;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    font-family: Barrio, sans-serif;
    cursor: pointer;
    font-size: 1.1rem;
    text-decoration: none;
  }

  .buttonred:hover {
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
    background-color: #d1b192;
    color: #7c1a13;
  }

  @media (max-width: 890px) {
    .buttonblack {
      font-size: 20px;
    }
  }
</style>
