<div class="footerlayout">
  <div class="col_1">
    <a href="https://royalescapes.dk/">Royal Escapes</a>
    <br />
    <a href="https://royalescapes.dk/dk/om-royal-escapes">Om Os</a>
    <br />
    <a href="https://royalescapes.dk/dk/kontakt-royal-escapes">Kontakt os</a>

    <p>&copy; Royal Escapes 2021</p>
  </div>

  <div class="col_2">
    <h3>Nyhedsbrev</h3>
    <form>
      <input type="email" placeholder="skriv din e-mail her" />
      <br />
      <button type="submit"> Tilmeld dig nu</button>
    </form>
  </div>

  <div class="some">
    <ul class="some_icons">
      <a href="https://www.facebook.com/royalescapescph"><img src="/facebook1-svgrepo-com.svg" width="55px" height="55px" /></a>
      <a href="https://www.instagram.com/royalescapescph/"><img src="/instagram1-svgrepo-com.svg" width="55px" height="55px" /></a>
      <a href="#"><img src="/tiktok1-svgrepo-com.svg" width="55px" height="55px" /></a>
    </ul>
  </div>
</div>

<style>
  @font-face {
    font-family: "Barrio";
    src: url("/Barrio-Regular.ttf");
  }
  @font-face {
    font-family: "Dosis";
    src: url("/Dosis-VariableFont_wght.ttf");
  }

  .footerlayout {
    background-color: #7c1a13;
    color: #d1b192;
    display: flex;
    width: 100%;
    padding: 20px 0px 20px 0px;
  }

  .col_1 a {
    display: block;
    text-decoration: none;
    color: #d1b192;
    text-align: left;
    padding-left: 20px;
    font-family: Dosis;
    font-size: 16px;
  }

  p {
    padding-left: 20px;
    font-family: dosis;
    font-size: 16px;
  }

  h3 {
    font-family: Barrio;
  }
  .col_2 {
    display: block;
    flex-grow: 2;
    text-align: center;
    align-content: center;
    margin: auto;
    padding: 0px 0px 0px 130px;
  }

  form input {
    width: 280px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
  }

  form button {
    background: transparent;
    border: 2px solid #d1b192;
    color: #d1b192;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    font-family: Dosis;
  }
  .some {
    display: flex;
    justify-content: space-between;
  }

  .some_icons {
    display: flex;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 60px 30px 0px 0px;
  }

  ul {
    list-style-type: none;
    font-family: Barrio;
  }
</style>
