---
import Button from "./Button.astro";
---

<div class="footerlayout">
  <div class="col_1">
    <a href="https://royalescapes.dk/">Royal Escapes</a>
    <br />
    <a href="https://royalescapes.dk/dk/om-royal-escapes">Om Os</a>
    <br />
    <a href="https://royalescapes.dk/dk/kontakt-royal-escapes">Kontakt os</a>

    <p>&copy; Royal Escapes 2021</p>
  </div>

  <div class="col_2">
    <h3>Nyhedsbrev</h3>
    <form>
      <input type="email" placeholder="Skriv din email her" />
      <br />
      <Button type="buttonred" href="#" text="Tilmeld dig nu" />
    </form>
  </div>

  <div class="some">
    <ul class="some_icons">
      <a href="https://www.facebook.com/royalescapescph"><img src="/facebook1-svgrepo-com.svg" /></a>
      <a href="https://www.instagram.com/royalescapescph/"><img src="/instagram1-svgrepo-com.svg" /></a>
      <a href="#"><img src="/tiktok1-svgrepo-com.svg" /></a>
    </ul>
  </div>
</div>

<style>
  @font-face {
    font-family: "Barrio";
    src: url("/Barrio-Regular.ttf");
  }
  @font-face {
    font-family: "Dosis";
    src: url("/Dosis-VariableFont_wght.ttf");
  }

  .footerlayout {
    background-color: #7c1a13;
    color: #d1b192;
    display: flex;
    width: 100%;
    padding: 30px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
  }

  .col_1 a {
    display: block;
    text-decoration: none;
    color: #d1b192;
    font-family: Dosis;
    font-size: 16px;
    min-width: 160px;
  }

  p {
    font-family: dosis;
    font-size: 16px;
  }

  h3 {
    font-family: Barrio;
    margin: 0px;
  }
  .col_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form input {
    width: 280px;
    height: 35px;
    border-radius: 16px;
    text-align: center;
    margin-top: 20px;
    border: solid 2px #d1b192;
    background-color: #7c1a13;
    color: #d1b192;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .some {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 160px;
  }

  .some_icons {
    padding: 0;
  }

  .some_icons img {
    aspect-ratio: 1/1;
    width: 50px;
  }

  ul {
    list-style-type: none;
    font-family: Barrio;
  }
</style>
