


<div class="footerlayout">
<div>  
<ul>
<li>Bla</li>
<li>blabla</li>
<li>blabada</li>
</ul>
</div>

<div class="some">
<ul class="some_icons">
    <p>insta</p>
    <p>facebook</p>
    <p>Tiktok</p>
</ul>
<i class="fa fa-copyright" style="font-size:24px"></i>
</div>

</div>


<style>


.footerlayout {
background-color: #7C1A13;
color: bisque;   
display: grid;
grid-template-columns: 1fr 1fr;
    }

.some {
    display: flex;
    justify-content: space-between;
}

.some_icons {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr;
  }

  ul {
    list-style-type: none;
  }


</style>