


<div class="footerlayout">
<div>  
<ul>
<li>Bla</li>
<li>blabla</li>
<li>blabada</li>
</ul>
</div>

<div class="some">
<ul class="some_icons">
    <img src="/facebook-svgrepo-com.svg" width="55px">
    <img src="/instagram-svgrepo-com.svg" width="55px">
    <img src="/tiktok-svgrepo-com.svg" width="55px">
</ul>
<i class="fa fa-copyright" style="font-size:24px"></i>
</div>

</div>


<style>
@font-face {
            font-family: 'Barrio';
            src: url('/Barrio-Regular.ttf');
     }

.footerlayout {
background-color: #7C1A13;
color: bisque;   
display: grid;
grid-template-columns: 1fr 1fr;
    }

.some {
    display: flex;
    justify-content: space-between;
}

.some_icons {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr;
  }

  ul {
    list-style-type: none;
    font-family: Barrio;
  }


</style>