<form action="/action_page.php" class="form">
    <label for="fname">Fornavn</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Efternavn</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="lname">Del din oplevelse her</label><br>
    <input type="text" id="testamonial" name="testamonial"><br><br>
    <input type="submit" value="Submit">
  </form>

  <style>
.form {
    justify-content: center;
}
  </style>