---
import Button from "./Button.astro";
---

<div>
  <form action="/action_page.php" class="form">
    <label for="lname" id="deldin">Del din oplevelse her</label><br /><br />
    <input type="text" id="fname" placeholder="Fornavn" name="fname" class="fornavn" /><br /><br />
    <input type="text" id="lname" placeholder="Efternavn" name="lname" class="efternavn" /><br /><br />
    <input type="text" id="testamonial" placeholder="Del din oplevelse her" name="testamonial" class="texttest" /><br /><br />
    <br />
    <Button type="buttonblack" href="#" text="Submit" />
  </form>
</div>

<style>
  @font-face {
    font-family: "Barrio";
    src: url("/Barrio-Regular.ttf");
  }

  @font-face {
    font-family: "Dosis";
    src: url("/Dosis-VariableFont_wght.ttf");
  }

  #deldin {
    font-family: Barrio;
  }
  div {
    text-align: center;
    padding: 30px;
  }
  label {
    color: #d1b192;
    background-color: ;
  }

  input {
    color: #d1b192;
    text-align: center;
    background-color: #201e1e;
    border: 2px solid #d1b192;
    border-radius: 4px;
  }

  input::placeholder {
    color: #d1b192;
  }

  .fornavn {
    width: 30%;
    height: 35px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
  }

  .efternavn {
    width: 30%;
    height: 35px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
  }
  .texttest {
    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #d1b192;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
  }

  /* form button {
    background: transparent;
    border: 2px solid #d1b192;
    color: #d1b192;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    font-family: Dosis;
  }

  form button:hover {
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
    background-color: #d1b192;
    color: #201e1e;
  } */
</style>
