<nav>
  <ul>
    <a href=""><li>The Royal Dungeon</li></a>
    <a href=""><li>The Royal Cabinet</li></a>
    <a href=""><li>The Royal Playroom</li></a>
  </ul>
</nav>
<style>
  @font-face {
    font-family: "Barrio";
    src: url("/Barrio-Regular.ttf");
  }
  ul {
    list-style-type: none;
    padding: 3%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }

  a {
    font-family: Barrio;
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.2rem;
  }

  a:hover {
    text-shadow: 3px 3px #201e1e;
  }
</style>
