
<ul>
    <li>The Royal Dungeon</li>
    <li>The Royal Cabinet</li>
    <li>The Royal Playroom</li>
</ul>

<style>

@font-face {
            font-family: 'Barrio';
            src: url('/Barrio-Regular.ttf');
     }
    ul {
        background-color: #7C1A13;
        color:antiquewhite;
        list-style-type: none;
        padding: 2%;
        
    }

    li {
        display: inline;
        padding: 20px;
        float: right;
        font-family: Barrio;
        
}
</style>