
<ul>
    <li>The Royal Dungeon</li>
    <li>The Royal Cabinet</li>
    <li>The Royal Playroom</li>
</ul>

<style>
    ul {
        background-color: #880808;
        color:antiquewhite;
        list-style-type: none;

        padding: 20px;
        
    }

    li {
        display: inline;
        padding: 20px;
        align-items: center;
        
        
}
</style>