<header>
  <ul>
    <li>The Royal Dungeon</li>
    <li>The Royal Cabinet</li>
    <li>The Royal Playroom</li>
  </ul>
</header>

<style>
  @font-face {
    font-family: "Barrio";
    src: url("/Barrio-Regular.ttf");
  }
  ul {
    color: antiquewhite;
    list-style-type: none;
    padding: 2%;
  }

  header {
    padding-bottom: 300px;
    background-image: url(blod_utop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: local;
  }

  li {
    display: inline;
    padding: 20px;
    float: right;
    font-family: Barrio;
  }
</style>
