<ul>
  <li>The Royal Dungeon</li>
  <li>The Royal Cabinet</li>
  <li>The Royal Playroom</li>
</ul>

<style>
  @font-face {
    font-family: "Barrio";
    src: url("/Barrio-Regular.ttf");
  }
  ul {
    color: antiquewhite;
    list-style-type: none;
    padding: 2%;
    background-image: url(/blod_utop.svg);
  }

  img.bg {
    min-height: 100%;
    min-width: 1024px;
  }

  li {
    display: inline;
    padding: 20px;
    float: right;
    font-family: Barrio;
  }
</style>
