
<div class="grid1-1">
<div class="playtext">
    <div>
    <p><italic>Prøv det nye escape room The Royal Playroom</italic></p>
    </div>
    <div>
    <p>Den nye Escape room byder på en god blanding af uhygge og gådeløsning. Kan du klare opgaverne i en hårrejsende setting?</p> 
    </div>
    <button type="button">Book Nu</button>
</div>
<div>
    <img src="/images/image00042.jpeg" width="60%">
</div>
</div>


    <style>
    @font-face {
        font-family: 'Barrio';
        src: url('/Barrio-Regular.ttf');
 }

.grid1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

 .playtext {
margin: 30px;
font-family: Barrio;
color: #D1B192;
text-align: center;
padding-top: 25%;

}

img {
    float: right;
    padding: 10%;
    padding-right: 25%;
}
</style>