---
import Button from "./Button.astro";
---

<section class="lyset">
  <img src="/dukkeskygge.png" alt="dukkeskygge" id="dukkeskygge" width="400px" />
  <div class="playtext">
    <h1># Lyset i Mørket</h1>

    <p>
      Kan du finde lyset i mørket? <br />
      Er du klar på at finde lyset i mørket? Sammen med dit bedste team beder vi dig om at løse en række gåder, så I sammen kan hjælpe dronningen med at finde lyset i den triste og mørke tid. Hun er fanget
      i det royal børneværelse, der har huset mange royal inden hende. På ydersiden virker alt normalt, men træder man dybere ind, gemmer værelset på dunkle og mørke hemmeligheder. <br />
      Skyggerne har taget over og vi beder jer hjælpe vores dronning med at finde frem til lyset og glæden. Dette kræver mod og styrke. Derfor er det vigtigt at i samarbejder, så tiden ikke løber fra jer.
    </p>

    <Button type="buttonblack" href="#" text="Book Nu" />
  </div>
  <div>
    <img src="/images/shadowknife.jpeg" alt="Skygge af en kniv på blodigt gulv" />
  </div>
</section>
<section class="playroom">
  <img src="/images/skeleton.jpeg" alt="Skelet i mørke med strerinlys" class="skeleton" />
  <img src="/images/queenshadow.webp" alt="dronning skygge" class="shadow" id="shadow" />
  <div>
    <h2>Prøv The Royal Playroom</h2>
    <p>
      For den ultimative oplevelse skal du møde op med dine bedste medmennesker, og være klar til at løse en række gåder. Lad distraheringerne blive derhjemme, for dette er en rejse, du ikke vil gå
      glip af. Vores Game Masters står klar til at hjælpe dig, men tiden løber hurtigt, så vær hurtig på aftrækkeren. I det glamourøse værelse lurer en skummel fortid, så alt du troede, du vidste om
      den royale familie, kan være forkert. Er du klar på at undslippe på en time? Vi ses på den anden side!
    </p>
  </div>
</section>
<style>
  h1 {
    font-family: Barrio;
    font-size: 64px;
    color: #d1b192;
  }
  h2 {
    font-family: Barrio;
    color: #d1b192;
    font-size: 54px;
  }

  .lyset {
    display: grid;
    grid-template-columns: 3rem 3fr 2fr;
  }

  .lyset img {
    padding: 2rem 3rem 2rem 4rem;
    aspect-ratio: 14/15;
  }

  p {
    font-family: "Dosis";
    color: #d1b192;

    padding-top: 1rem;
  }

  .playtext {
    margin: 30px;
  }

  img {
    width: 100%;
    display: block;
    align-self: stretch;
    object-fit: cover;
  }

  #dukkeskygge {
    margin-left: -20rem;
    width: 700px;
  }
  p {
    margin: 10px 0 30px;
    line-height: 2rem;
    font-size: 24px;
  }

  .playroom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }

  .playroom img.skeleton {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    max-height: 500px;
  }
  .playroom img.shadow {
    grid-column: 6 / 8;
    grid-row: 1 / 4;
  }

  .playroom div {
    grid-column: 3 / 6;
    grid-row: 2;
  }

  .dronning {
    grid-column: 3 / 4;
  }
</style>
