<div class="grid1-1">
  <img src="/dukkeskygge.png" alt="dukkeskygge" id="dukkeskygge" width="400px" />
  <div class="playtext">
    <div>
      <h2>#LysetiMørket</h2>
    </div>
    <div>
      <p>Kan du finde lyset i mørket?</p>
      <p>Sammen med dit team skal du løse gåderne og slippe ud af Royal Escapes mest uhyggelige rum</p>
      <p>Kender du det når man kan mærke at nogen kigger på en? Skyggerne er over det hele og der er ingen måde hvorpå man kan vide hvem det er der lurer rundt om hjørnet, hvem der ånder dig i nakken eller hvem der griner</p>
    </div>
    <button type="button">Book Nu</button>
  </div>
  <div>
    <img src="/images/image00042.jpeg" width="60%" />
  </div>
</div>

<style>
  @font-face {
    font-family: "Barrio";
    src: url("/Barrio-Regular.ttf");
  }

  @font-face {
    font-family: "Dosis";
    src: url("/Dosis-VariableFont_wght.ttf");
  }

  h2 {
    font-family: Barrio;
  }

  .grid1-1 {
    display: grid;
    grid-template-columns: 40px 2fr 2fr;
  }

  .playtext {
    margin: 30px;
    font-family: "Dosis";
    color: #d1b192;
    text-align: center;
    padding-top: 10%;
  }

  img {
    float: right;
    padding: 10%;
    padding-right: 25%;
  }

  #dukkeskygge {
    margin-left: -20rem;
    width: 700px;
  }

  button {
    background: transparent;
    border: 2px solid #d1b192;
    color: #d1b192;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    font-family: Dosis;
  }

  button:hover {
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
    background-color: #d1b192;
    color: #201e1e;
  }
</style>
