---
---

<div class="section">
  <img src="/playroomsand.svg" width="500px" id="playroomsvg" />
</div>

<style>
  @font-face {
    font-family: "Barrio";
    src: url("/Barrio-Regular.ttf");
  }
  .section {
    background-image: url("royalescapes1.jpg");
    background-size: cover;
    text-align: center;
  }

  #playroomsvg {
    margin: 30px;
  }
</style>
