---
---

<div class="section">
  <img src="/playroomsand.svg" width="500px" id="playroomsvg" />
</div>

<style>
  @font-face {
    font-family: "Barrio";
    src: url("/Barrio-Regular.ttf");
  }
  .section {
    background-image: url("/images/image00042.jpeg");
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
  }

  img {
    z-index: -1;
  }
  #playroomsvg {
    margin: 180px;
  }
</style>
