---
---
<div class="section">
<img src="/Artboard 1.svg" width="500px" id="playroomsvg">
</div>


<style>
@font-face {
    font-family: 'Barrio';
    src: url('/Barrio-Regular.ttf');
     }
.section {
    
    background-image: url('royalescapes1.jpg');
    background-size: cover;
    text-align: center;
        }


#playroomsvg {
    padding: 50px;
}

</style>