---
import Button from "./Button.astro";
---


<div class="testamonial">
<div class="textbox">
    <img src="/stjerne.png" alt="stjerne">
    <img src="/stjerne.png" alt="stjerne">
    <img src="/stjerne.png" alt="stjerne">
    <img src="/stjerne.png" alt="stjerne">
    <img src="/stjerne.png" alt="stjerne">
<p class="citat">
 "Indsæt tekst her som skal stå i gåseøjne og med kursiv for at indikere at det er et citat fra en som har været i Escape room" Trækkes ind via database og der kan slides fra side til side
</p>
<p> 
- Henrik Henriksen 37 år
</p>
</div> 
<div class="textbox">
   

 <p class="citat">
 "Indsæt tekst her som skal stå i gåseøjne og med kursiv for at indikere at det er et citat fra en som har været i Escape room" Trækkes ind via database og der kan slides fra side til side
 </p>
 <p> 
 - Henrik Henriksen 37 år
 </p>
 </div>
 <div class="textbox">
 <p class="citat">
 "Indsæt tekst her som skal stå i gåseøjne og med kursiv for at indikere at det er et citat fra en som har været i Escape room" Trækkes ind via database og der kan slides fra side til side
 </p>
 <p> 
 - Henrik Henriksen 37 år
 </p>
 </div>
 <div class="textbox">
    <p class="citat">
     "Indsæt tekst her som skal stå i gåseøjne og med kursiv for at indikere at det er et citat fra en som har været i Escape room" Trækkes ind via database og der kan slides fra side til side
    </p>
    <p> 
    - Henrik Henriksen 37 år
    </p>
    </div>

    

</div>


    <Button type="buttonblack" href="#" text="Læs Mere"></Button>
   

<style>



.testamonial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 25px;

}



img{
    width: 25px;
    margin: 25px 0px 0px 0px;
}
.textbox {
    background-image:linear-gradient(140deg, #3C3838, transparent);
    background opacity: 30%;
    margin: 5%;
    border-radius: 20px;
    color: #D1B192;

}

.citat {
    font-style: italic;
    padding: 20px;
    font-size: 1.2rem;
}


</style>