<section>
  <div>
    <h2>Tør du se traileren?</h2>
    <p>
      Oplev det royale univers og kom i den rette stemning, inden du selv tager
      udfordringen op. Er du klar på at overvinde skyggerne i mørket?
    </p>
  </div>

  <video controls src="https://emhb.dk/kea/09_indhold/royalescapestest.mp4"
  ></video>
</section>

<style>
  h2 {
    font-family: Barrio, sans-serif;
    color: #d1b192;
    font-size: 54px;
  }
  p {
    font-family: Dosis, sans-serif;
    color: #d1b192;
    font-size: 20px;
    padding: 1rem 0 2rem;
  }
  section {
    padding: 25px;
  }
  @media (min-width: 890px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      padding: 0 3rem;
    }
    p {
      font-size: 24px;
    }
  }
  @media (max-width: 500px) {
    h2 {
      font-size: 38px;
    }
  }
  /** video  width: 800px;
    height: 450px; */

  video {
    width: 100%;
    height: auto;
    display: block;
  }
</style>

<script></script>
