<section>
  <div>
    <h2>Tør du se traileren?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo quod excepturi eligendi rem. Quod, nam? Quas cum esse odit aperiam, error eos unde natus sunt nulla atque delectus alias!
    </p>
  </div>
  <video src="https://emhb.dk/kea/09_indhold/royalescapestest.mp4" controls autoplay muted width="400px" height="300px"></video>
</section>

<style>
  h2 {
    font-family: Barrio;
    color: #d1b192;
    font-size: 54px;
  }
  p {
    font-family: "Dosis";
    color: #d1b192;

    padding-top: 1rem;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 3rem;
  }
</style>
