---
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Header from "../components/Header.astro";
import Playroom from "../components/Playroom.astro";
import Testimonials from "../components/Testimonials.astro";
import Lysetimorket from "../components/Lysetimorket.astro";
import Videosection from "../components/Videosection.astro";
import Button from "../components/Button.astro";

const data = await fetch(
  "https://nmxufejdmiracytguxrn.supabase.co/rest/v1/Testamonial?limit=4",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5teHVmZWpkbWlyYWN5dGd1eHJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODIwMDU3OTYsImV4cCI6MTk5NzU4MTc5Nn0.a2xL0G56IugeAx-Ewwisrgmgx3nHh1T0MUmKHDuBQC4",
    },
  }
).then((res) => res.json());
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Barrio" />
  </head>
  <body>
    <div id="loader">
      <div class="loader">
        <script
          src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
        ></script>
        <lottie-player
          src="lottiefiles/loading-ikon.json"
          background="transparent"
          speed="1"
          style="width: 100px; height: 100px;"
          loop
          autoplay></lottie-player>
      </div>
    </div>
    <Header />
    <main>
      <slot />
      <Playroom />
      <Lysetimorket />
      <div class="testimonial_grid">
        {
          data.map((Testimonial) => {
            return <Testimonials data={Testimonial} />;
          })
        }
      </div>
      <div class="readmore_testimonial">
        <Button
          type="buttonblack"
          href="/testimonials"
          text="Se alle anmeldelser her"
        />
      </div>
      <Form />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
    background-color: #201e1e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .readmore_testimonial {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .testimonial_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 25px;
  }
  #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
  }
</style>

<script>
  window.addEventListener("load", function () {
    const loader = document.getElementById("loader");
    loader.style.display = "none";
  });
</script>
