---
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Header from "../components/Header.astro";
import Playroom from "../components/Playroom.astro";
import Testamonials from "../components/Testamonials.astro";
import Lysetimorket from "../components/Lysetimorket.astro";
import Videosection from "../components/Videosection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Barrio" />
  </head>
  <body>
    <div id="loader">
      <div class="loader">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="lottiefiles/loading-ikon.json" background="transparent" speed="1" style="width: 100px; height: 100px;" loop autoplay></lottie-player>
      </div>
    </div>
    <header>
      <Header />
    </header>
    <main>
      <slot />
      <Playroom />
      <Lysetimorket />
      <Testamonials />
      <Form />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
    background-color: #201e1e;
  }

  #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
  }
</style>

<script>
  window.addEventListener("load", function () {
    const loader = document.getElementById("loader");
    loader.style.display = "none";
  });
</script>
