---
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Header from "../components/Header.astro";
import Playroom from "../components/Playroom.astro";
import Testamonials from "../components/Testamonials.astro";
import Lysetimorket from "../components/Lysetimorket.astro";
import Videosection from "../components/Videosection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Barrio" />
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <slot />
      <Playroom />
      <Lysetimorket />
      <Testamonials />
      <Form />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
    background-color: #201e1e;
  }
</style>
